.blue-list
  each account in accounts
    .item
      .icon
        img.shadow-icon(data-src="#{account.provider.icon}" scalable="true")
      .info
        .name=account.name
        .details
          .label Default Region
          .val=account.defaultRegion.name
          .label Total Apps
          .val=account.apps.length
      .button(data-id="#{account.id}") Manage
  .add-new#add-provider-account
    img.shadow-icon(data-src="big-add")
    .txt Add Account
