.blue-item.provider-edit.lexi-blue.lexi
  .errors.hidden Some Errors
  .icon
    img.shadow-icon(data-src="#{provider.icon}" scalable="true")
  .vals
    .standard
      .val
        .label Account Name
        input(value="#{name}" data-key="name")
      if isCustom
        .val
          .label Endpoint
          input#endpoint(value="#{provider.endpoint}" data-key="endpoint")
          .button#test-endpoint.lifecycle.hidden Test Endpoint
    .provider-specific
    .advanced
      .toggle
        a#toggle Advanced
      .content 
        .message Provide custom server order attributes for the provider, please refer to the documentation for this provider.
        .key-vals
          .item
            .button#addKeyVal Add a new Key/Val Pair
      
  .save-section
    if apps.length == 0 
      .delete#delete-account 
        img.shadow-icon(data-src="close-x")
        .txt Delete Account 
    .cancel#cancel Cancel
    .button.lifecycle#save Save 
  if apps.length != 0
    .sub-items
      h2 Apps launched on this account
      each app in apps
        .item
          .name= app.name
          a.manage(href="#{app.managePath}") Manage
          a(href="#{app.removePath}") Remove
