.provider-edit
  .icon
    img.shadow-icon(data-src="#{providerIcon}" scalable="true")
  .vals
    .val
      .label Account Name
      input.lexi(value="#{name}")
    .val
      .label Default Region
      input.lexi(value="#{defaultRegion.name}")
    each field in authFields
      .val
        .label= field.label
        input.lexi(value="#{field.val}" data-key="#{field.key}")
  .save-section
    .cancel#cancel Cancel
    .button.lifecycle#save Save 
  .apps
    h2 Apps launched on this account
    each app in apps
      .app
        .name= app.name
        a.manage(href="#") Manage
        a(href="#") Remove
